PASSWORD=

JwtAudience=
JwtIssuer=
JwtSecretKey=
JwtExpirationMinutes=
JwtRefreshTokenExpirationDays=

RabbitMQ_Username=
RabbitMQ_Password=

Redis_ConnectionString=localhost:6379

DOCKER_REGISTRY=


